body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

#sim_container {
}

#gui_container {
    opacity: 0.65;
    position: absolute;
    z-index: 1;
    right:1%;
}

#gui_container:hover {
    opacity: 1.0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
